<!-- SLIDER -->
<section>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('./assets/img/car-1.jpg')">
        <div class="text-center">
          <img src="./assets/img/logosAndujo/blanco_png.png" alt="" class="img-responsive img-logo-car">
        </div>
        <div class="carousel-caption">
          <h3>¡Próximamente!</h3>
        </div>
      </div>
    </div>
  </div>
</section>
